.container{
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
}
.label{
    text-align: left;
    font: normal normal normal 14px/21px Arial,sans-serif;
    letter-spacing: 0px;
    color: #868686;
    margin: 0;
}
.input-text{
    border: 1px solid #C7D0D9;
    border-radius: 4px;
}

.input-contaner{
    display: flex;
    justify-content: space-between;
}